CREATE OR REPLACE FUNCTION process_opening_stock(
  p_item_id UUID,
  p_supplier_id UUID,
  p_qty DECIMAL,
  p_cost_price DECIMAL,
  p_batch_number VARCHAR,
  p_expiry_date DATE,
  p_created_by UUID
) RETURNS UUID AS \$\$
DECLARE
  v_batch_id UUID;
  v_reason_id UUID;
  v_stk_number VARCHAR(100);
  v_seq INT;
  v_date_str VARCHAR(8);
BEGIN
  INSERT INTO batches (batch_number, item_id, supplier_id, received_date, expiry_date, current_qty, available_qty, status)
  VALUES (p_batch_number, p_item_id, p_supplier_id, CURRENT_DATE, p_expiry_date, p_qty, p_qty, 'ACTIVE')
  RETURNING id INTO v_batch_id;

  SELECT id INTO v_reason_id FROM movement_reasons WHERE name ILIKE '%opening%' LIMIT 1;
  IF v_reason_id IS NULL THEN
    SELECT id INTO v_reason_id FROM movement_reasons WHERE name ILIKE '%correction in%' LIMIT 1;
  END IF;
  IF v_reason_id IS NULL THEN
     INSERT INTO movement_reasons (name, type, is_system) VALUES ('Opening Stock', 'STOCK_IN', true) RETURNING id INTO v_reason_id;
  END IF;

  v_date_str := to_char(CURRENT_DATE, 'YYYYMMDD');
  SELECT COALESCE(COUNT(*), 0) + 1 INTO v_seq FROM stock_movements WHERE to_char(created_at, 'YYYYMMDD') = v_date_str;
  v_stk_number := 'STK-OPEN-' || v_date_str || '-' || lpad(v_seq::text, 4, '0');

  INSERT INTO stock_movements (
    movement_number, item_id, batch_id, type, quantity, cost_price, reason_id, created_by, reference_type, status
  ) VALUES (
    v_stk_number, p_item_id, v_batch_id, 'STOCK_IN', p_qty, p_cost_price, v_reason_id, p_created_by, 'OPENING_STOCK', 'APPROVED'
  );

  RETURN v_batch_id;
END;
\$\$ LANGUAGE plpgsql SECURITY DEFINER;
